@page
@model Unece.Msts.Pages.Admin.SettingsModel
@{


}


<div class="card">
    <div class="card-body">
        <ul class="nav nav-tabs nav-primary" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" data-bs-toggle="tab" href="#primaryhome" role="tab" aria-selected="true">
                    <div class="d-flex align-items-center">
                        <div class="tab-icon">
                            <i class='bx bx-home font-18 me-1'></i>
                        </div>
                        <div class="tab-title">Department</div>
                    </div>
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" href="#primaryprofile" role="tab" aria-selected="false">
                    <div class="d-flex align-items-center">
                        <div class="tab-icon">
                            <i class='bx bx-user-pin font-18 me-1'></i>
                        </div>
                        <div class="tab-title">Site</div>
                    </div>
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" href="#primarycontact" role="tab" aria-selected="false">
                    <div class="d-flex align-items-center">
                        <div class="tab-icon">
                            <i class='bx bx-microphone font-18 me-1'></i>
                        </div>
                        <div class="tab-title">Application</div>
                    </div>
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" href="#users" role="tab" aria-selected="false">
                    <div class="d-flex align-items-center">
                        <div class="tab-icon">
                            <i class='bx bx-microphone font-18 me-1'></i>
                        </div>
                        <div class="tab-title">Users</div>
                    </div>
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" href="#fields" role="tab" aria-selected="false">
                    <div class="d-flex align-items-center">
                        <div class="tab-icon">
                            <i class='bx bx-microphone font-18 me-1'></i>
                        </div>
                        <div class="tab-title">Fields</div>
                    </div>
                </a>
            </li>
        </ul>
        <div class="tab-content py-3">
            <div class="tab-pane fade show active" id="primaryhome" role="tabpanel">
                <div class="col-md-6 text-right">
                    <button class="btn btn-success mb-3 text-right" id="add_department_settings"><i class="fa fa-plus mr-2"></i>Add Department</button>
                </div>
                <div class="row" id="userSettings">
                    <div class="col-md-12">
                        <table class="table" id="Department_settings"></table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="primaryprofile" role="tabpanel">
                <div class="col-md-6 text-right">
                    <button class="btn btn-success mb-3 text-right" id="add_site_settings"><i class="fa fa-plus mr-2"></i>Add Site</button>
                </div>
                <div class="row" id="userSettings">
                    <div class="col-md-12">
                        <table class="table" id="Site_settings"></table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="primarycontact" role="tabpanel">
                <div class="col-md-6 text-right">
                    <button class="btn btn-success mb-3 text-right" id="add_application_settings">
                        <i class="fa fa-plus mr-2"></i>
                        Add Application
                    </button>
                </div>
                <div class="row" id="userSettings">
                    <div class="col-md-12">
                        <table class="table" id="Application_settings"></table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="users" role="tabpanel">
                <div class="col-md-6 text-right">
                    <button class="btn btn-success mb-3" id="add_user" data-bs-toggle="modal" data-bs-target="#user-modal">
                        <i class="fa fa-plus mr-2"></i>Add User
                    </button>
                </div>
                <div class="row" id="userSettings">
                    <div class="col-md-12">
                        <table class="table" id="user_settings"></table>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="fields" role="tabpanel">
                <div class="form-group row">
                    <label class="col-form-label col-md-3">Select a Field Type</label>
                    <div class="col-md-4">
                        <select class="form-control" id="report_fields_types">
                            <option value="">None</option>
                            @foreach (var item in Model.FieldDataProvider.GetFieldTypes())
                            {
                                <option value="@item.Id">@item.FieldTypeName</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-5 text-right"><button class="btn btn-success mb-3" id="add_fields_page" data-bs-toggle="modal" data-bs-target="#fields-modal"><i class="fa fa-plus mr-2"></i>Add / Delete Field Type</button></div>
                </div>
                <div class="row" id="filedsSettings">
                    <div class="form-group row col-md-12 ml-0 mr-0 mb-0">
                        <div class="col-md-10 ml-0 p-0">
                            <label class="col-form-label col-md-10 p-0" style="position: absolute;bottom: 0;"></label>
                        </div>

                        <div class="col-2 text-right ml-0 p-0">
                            <button class="btn btn-success mb-3 text-right" id="add_fields_settings"><i class="fa fa-plus mr-2"></i>Add Field Items</button>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <table class="table" id="fields_settings"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="user-modal" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-user" aria-hidden="true"></i>Manage User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="userId" value="">
                    <div class="form-group row m-0 mb-3">
                        <label for="userName" class="col-sm-4 col-form-label">User Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="userName">
                        </div>
                    </div>
                    <div class="form-group row m-0 mb-3">
                        <label for="userPassword" class="col-sm-4 col-form-label">Password</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="userPassword">
                        </div>
                    </div>
                    <div class="form-group row m-0 mb-3">
                        <label for="userConfirmPassword" class="col-sm-4 col-form-label">Confirm Password</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="userConfirmPassword">
                        </div>
                    </div>
                    <div class="form-group row m-0 mb-3">
                        <div class="col-sm-8">
                            <span id="user-modal-validation" class="text-danger hide"></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSaveUser" class="btn btn-outline-primary">Save</button>
            </div>
        </div>
    </div>
</div>
<!-- fields modal Start-->
<div class="modal fade" tabindex="-1" role="dialog" id="fields-modal" aria-labelledby="fieldsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fieldsModalLabel">Add / Delete  Field Type</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row m-0 mb-2">
                        <label for="pageType" class="ml-3 col-form-label">Field Type</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="pageType">
                        </div>
                        <div class="col">
                            <button type="button" id="btnSavePageType" class="btn btn-primary px-2"><i class='bx bx-user mr-1'></i>Save</button>
                        </div>
                    </div>
                    <table class="table gj-grid gj-grid-bootstrap gj-grid-bootstrap-4 table-bordered table-sm" id="fields_settings">
                        <thead>
                            <tr data-role="caption">
                                <th data-field="title" width="80%" style="text-align: left;">
                                    <div data-role="title">Field Type</div>
                                </th>
                                <th data-field="" width="20%" style="text-align: center;">
                                    <i class="fa fa-cogs" aria-hidden="true"></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2" class="p-0 b-0">
                                    <ul id="itemList_fields" class="list-group d-block w-auto">
                                        @if (@Model.FieldDataProvider.GetFieldTypes() != null)
                                        {

                                            foreach (var item in @Model.FieldDataProvider.GetFieldTypes())
                                            {
                                                <li class="list-group-item" id="attach_@item.Id" data-index="@item.Id" style="border-left: 0;border-right: 0;">
                                                    @item.FieldTypeName
                                                    <i class="fa fa-trash-o ml-2 text-danger btn-delete-fields-type" title="Delete" style="cursor: pointer;float:right"></i>

                                                </li>

                                            }
                                        }
                                    </ul>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                    <div class="form-group row">
                        <div class="col-sm-8">
                            <span id="pageType-modal-validation" class="text-danger hide"></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@Html.AntiForgeryToken()